################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/NetworkTroubleShooter/.vs
/src/NetworkTroubleShooter/NetworkTroubleShooter/bin
/src/NetworkTroubleShooter/NetworkTroubleShooter/obj
